.main__navigation_ul {
  list-style-type: none;
  max-width: 100%;
}

.main__navigation_li-item {
  font-size: 50px;
  font-weight: 900;
  font-family: 'Lato';
  margin-top: 15px;
}

.nav__link {
  text-decoration: none;
  color: rgb(247, 247, 0);
}

.nav__link2::after {
  content: ' Hello.';
  display: inline-block;
  color: #fff;
  transition: 0.4s ease-in-out;
}

.nav__link2:hover::after {
  content: 'About';
  transform: translateX(60px);
}

.nav__link3::after {
  display: inline-block;
  content: "I am";
  transition: 0.4s ease-in-out;
}

.nav__link3:hover::after {
  content: 'Work';
  transform: translateX(60px);
}

.nav__link4::after {
  display: inline-block;
  content: 'Tom';
  transition: 0.4s ease-in-out;
}

.nav__link4:hover::after {
  content: 'Contact';
  transform: translateX(60px);
}

@media screen and (min-width:320px){

  .main__navigation_li-item {
    font-size: 50px;
  }
}

@media screen and (min-width:480px) {
  
  .main__navigation_li-item {
    font-size: 55px;
  }
}

@media screen and (min-width:769px) {

  .main__navigation_li-item {
    font-size: 80px;
  }
}

@media(min-width:1025px){
  
  .main__navigation_li-item{
    font-size: 100px;
    margin-top: 3px;
  }
}
