.work__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: white;
}

.work__title_wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222;
}

.work__title {
	width: 370px;
	font-size: 35px;
	font-weight: 900;
	color: #ECF3FF;
}

.work__title:hover {
	color: #fff;
	cursor: pointer;
}

.work__down {
	display: block;
	text-decoration: none;
	outline: none;
	transform: rotate(270deg);
}

.work__content_wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.work__content_subtitle {
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	margin: 50px 0 30px;
	color: #111;
}

.work__content_subtitle:hover {
	cursor: default;
}

.work__content_text {
	font-size: 16px;
	/**/
	margin-bottom: 50px;
	color: #555;
	text-align: center;
}

.work__content_text:hover {
	cursor: default;
}

.work__content_examples {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 0px;
}

.example {
	position: relative;
	width: 200px;
	height: 250px;
	margin: 10px;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #ccc;
	box-shadow: 0 3px 10px -2px rgb(0, 0, 0, 0.5);
}

.example:hover {
	cursor: default;
}

.example__picture {
	display: block;
	width: 200px;
	height: 250px;
	object-fit: fit;
	transition: 0.3s ease-in-out;
	z-index: -1000;
}

.example:hover .example__picture {
	transform: scale(1.15);
}

.overlay {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	transition: .3s ease;
	opacity: 0;
	background-color: rgb(0, 0, 0, 0.9);
}

.example:hover .overlay {
	opacity: 0.7;
}

.overlay__text {
	position: absolute;
	bottom: 50px;
	font-size: 20px;
	text-align: center;
	opacity: 0;
	font-weight: 700;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.overlay__text:hover {
	border-bottom: 1px solid #fff;
}

.example:hover .overlay__text {
	opacity: 1;
}

.overlay__sentence {
	position: absolute;
	bottom: 5px;
	font-size: 16px;
	opacity: 0;
	color: white;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.overlay__sentence:hover {
	border-bottom: 1px solid #fff;
}

.example:hover .overlay__sentence {
	opacity: 1;
}

.work__end_line {
	width: 45%;
	border-bottom: 0.5px solid #888;
	margin: 20px 0 20px;
}

@media screen and (min-width:320px) {
	.work__title {
		width: 470px;
		text-align: start;
		font-size: 55px;
		line-height: 1.4;
	}

	.work__content_subtitle {
		font-size: 30px;
	}

	.work__content_examples {
		margin-bottom: 20px;
	}

	.example {
		width: 250px;
		height: 300px;
		margin: 10px;
	}

	.example__picture {
		width: 250px;
		height: 300px;
	}

	.overlay__sentence {
		bottom: 10px;
	}

	.work__end_line {
		margin: 20px 0 30px;
	}
}

@media screen and (min-width:480px) {
	.work__title {
		width: 460px;
		font-size: 55px;
	}

	.work__down {
		transform: rotate(0deg);
	}

	.work__content_subtitle {
		font-size: 30px;
	}

	.work__content_text {
		font-size: 18px;
	}

	.work__content_examples {
		margin-bottom: 30px;
	}

	.example {
		width: 300px;
		height: 400px;
		margin: 20px;
	}

	.example__picture {
		width: 300px;
		height: 400px;
	}

	.overlay__text {
		font-size: 30px;
	}

	.overlay__sentence {
		bottom: 15px;
		font-size: 18px;
	}

	.work__end_line {
		margin: 20px 0 40px;
	}

}

@media screen and (min-width:769px) {
	.work__title {
		width: 600px;
		font-size: 70px;
	}

	.work__content_subtitle {
		font-size: 40px;
	}

	.work__content_text {
		font-size: 20px;
		margin-bottom: 80px;
		color: #555;
	}

	.work__content_examples {
		width: 90%;
	}

	.example {
		margin: 20px;
	}

	.overlay__sentence {
		bottom: 20px;
	}

	.work__end_line {
		margin: 50px 0 100px;
	}
}

@media screen and (min-width:1025px) {

	.work__title {
		width: 880px;
		font-size: 90px;
	}

	.work__down {
		transform: rotate(0deg);
	}

	.work__content_text {
		margin-bottom: 110px;
	}

	.work__content_examples {
		width: 1025px;

	}

	.example:hover .overlay__text {
		opacity: 1;
	}

	.work__end_line {
		margin: 180px 0 220px;
	}
}